@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

#root{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/98/The_Simpsons_yellow_logo.svg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  font-family: 'Rock Salt', cursive;
  overflow: scroll;
}

body{
  margin: 0;
  padding: 0px;
}

.container{
  width: clamp(300px, 95%, 600px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr) .5fr;
  grid-gap: 10px;
}

.card{
  background-color: rgba(255, 255, 255, 0.2);
  border: solid black 3px;
  display: grid;
  place-items: center;
  box-shadow: 5px 5px 5px black;
  border-radius: .5rem;
}

.card:hover{
  background-color: rgba(255, 255, 255, 0.52);
}

img{
  height: 150px;
  padding: 10px;
}

.card:hover{
  cursor: pointer;
}

h3{
  text-align: center;
  margin: 0;
}

.advice{
  color:red
}

@media screen and (max-width: 530px) {

  img{
    height: 110px;
  }
  h3{
    border: solid black 3px;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.52);
    box-shadow: 5px 5px 5px black;
    font-size: medium;
  }
}