.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.card{
    border: solid black 1px;
    display: grid;
    place-items: center;
    margin: 10px;
}
.card:hover{
  cursor: pointer;
}